/* Lustria Regular */
@font-face {
  font-family: 'Lustria';
  src: url('fonts/lustria.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

/* Lato Weights */
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato_slim.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato_meduim.woff2') format('woff2'); /* matches your filename typo */
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato_bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;

}
.samuel_section1{
  display: flex;
  gap: 40px;
  width: 100%;
  color: #5f0b18;
  padding: 20px 55px;
}
.samuel_col1{
  width: 25%;
}
.samuel_col1 img{
  width: 50px;
  align-items: center;
}
.samuel_col2_top{
 display: flex;
 justify-content: space-between;
 padding: 20px 55px;
}
.samuel_col2_top h1{
  color: #5f0b18;
}
.samuel_col2_top button{
 color: #fffbed;
 background-color: #5f0b18;
 cursor: pointer;
 padding: 20px 35px;
 border-radius: 5px;
 border-style: none;
}
.samuel_col2_top button:hover{
  color: #5f0b18;
  background-color: #fffbed;
  border-color: #5f0b18;
  border-style: solid;
}


.samuel_col2_bottom{
  display: flex;
  
  width: 98%;
}
.samuel_col2_left{
  position:relative;
  padding: 20px 50px;
  width: 33%;
 
}
.samuel_col2_left .top_text{
  position:absolute;
  top: 50px;
  bottom: 8px;
  color: #fffbed;
  padding-left: 10px;
}
.samuel_col2_left img{
  width: 400px ;
}
.samuel_col2_left h3{
  color: #5f0b18;
  cursor: pointer;
}
.samuel_col2_left p{
  color: #5f0b18;
}
.samuel_footer{
background-color: #5f0b18;
}